* {
  font-family: 'Yekan', sans-serif;
  user-select: none;
  text-decoration: none;
  list-style: none;
  direction: ltr;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #eee;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkslategray;
  border-radius: 50px;
  width: 5px;
}

.app-container {
  max-width: 80% !important;
  max-height: 85vh !important;
}
